{% extends "index.html" %}
{% load crispy_forms_tags %}


{% block content %}
    <div>
        <form method="POST" style="width: 25em; align-content: center; margin: auto;">
            {% csrf_token %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            {{ form.media }}
            {{ form|crispy }}

            <br>
            <button type="submit" class="btn btn-primary" value="Registration">Registration</button>
        </form>
    </div>
{% endblock %}