{% extends "index.html" %}

{% block content %}
    <div>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Grade</th>
            <th scope="col">Birth date</th>
            <th scope="col">Age</th>
            <th scope="col">Department</th>
            <th scope="col">Update</th>
            <th scope="col">Groups</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <th>{{ student.first_name }}</th>
                <th>{{ student.last_name }}</th>
                <th>{{ student.email }}</th>
                <th>{{ student.grade }}</th>
                {% if student.birth_date %}
                    <th>{{ student.birth_date }}</th>
                    <th>{{ student.age }}</th>
                {% else %}
                    <th>Undefined</th>
                    <th>Undefined</th>
                {% endif %}
                {% if student.department %}
                    <th>{{ student.department }}</th>
                {% else %}
                    <th>Empty department</th>
                {% endif %}
                <th>
                    <a type="button" class="btn btn-warning"
                            href="{% url 'students:update_student' student.pk %}">Edit</a>
                </th>
                 <th scope="col"> {% for i in "1" %}
                     <a type="button" class="btn btn-warning"
                            href="{% url 'students:update_student' student.pk %}">{{ i }}</a>
                    {% endfor %}
                     </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock content %}